  .react-chained-modal-cover {
    background: rgba(0, 0, 0, 0.55);
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .react-chained-modal-container {
    background: #fff;
    padding: 20px;
    display: flex;
    width: 80%;
    max-width: 600px;
    border-radius: 3px;
  }
  